<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  @{
    Layout = "_Layout";
  }
  <h1>Welcome to the word counter!</h1>
  <a href='/words/new'>Would you like to play?</a>
  <a href='/words'></a>
</body>
</html>
