<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    @{
      Layout = "_Layout";
    }
    <h1>Would you like to play?!</h1>
  <a href='/words/new'>YES!</a>
  <a href='/words'></a>
  </body>
</html>
