<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  @{
    Layout = "_Layout";
  }
  @using WordCounter.Models;

  <h1>Word Counter</h1>

  <ul>
  @if (Model.Count == 0)
  {
    <p>YOU NEED TO ADD SOME INPUT!</p>
  }
  @if(Model.Count != 0)
  {
    @foreach (Words words in Model)
    {
      <li><a href='/words/@words.GetId()'>@words.UserWord.ToUpper()</a></li>

    }
  }
  </ul>


  <a href="/words/new">PLAY AGAIN</a>

  <form action="/items/delete" method="post">
    <button type="submit" name="button">CLEAR ALL</button>
  </form>
</body>
</html>
