<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    @{
      Layout = "_Layout";
    }
    <h1>Word Counter</h1>

    <form action="/words" method="post">
      <label for="userWord">Add a word</label>
      <input id="userWord" name="userWord" type="text">

      <label for="userSentence">Add a sentence</label>
      <input id="userSentence" name="userSentence" type="text">

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
