<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Details: </h1>

    <h2>Word: @Model.UserWord</h2>
    <h5>Sentence: @Model.UserSentence</h5>


    <a href='/words/new'>Add another word</a>
    <a href='/words'>View all words</a>

  </body>
</html>
